.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */

  @media screen and (min-width: 768px) {
    margin-top: 200px; /* Keeps the top margin on larger screens */
    justify-content: center; /* Center horizontally */
  }
}
