    .Toastify__toast--success {
        background-color: #4caf50; /* Green color */
        color: #fff;
    }
    
    .Toastify__toast--error {
        background-color: #f44336; /* Red color */
        color: #fff;
    }
    
    .Toastify__toast-body {
        font-size: 16px;
    }
    
    .Toastify__close-button {
        color: #fff;
    }
    