@media screen and (min-width: 1280px) {}

.filteredList {
  margin-top: 20px;
  background-color: transparent;
  padding-left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 60px;
//   width: 100%;
 

  @media screen and (min-width: 768px) {
    max-width: 630px;
    padding-left: 32px;
    max-height: 260px;
  }

  @media (min-width: 1280px) {
    max-width: 750px;
  }

  li {
    width: 100%;
  }

  // button {
  //     padding: 8px;
  //     border: none;
  //     width: 100%;

  //     color: #deb887;
  //     background-color: transparent;
  //     text-align: left;
  //     cursor: pointer;
  //     outline: none;
  //     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  // }

  // button:focus,
  // button:hover {
  //     color: #fc842d;
  // }
}

.notification {
  color: var(--notification);
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
}

.listContainer {
  display: flex;
  padding-left: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  @media screen and (min-width: 767px) {
    // height:250px;
  }
  @media screen and (min-width: 1280px) {
    height:300px;
  }
}