.navigation__item {
  font-size: 14px;
  font-weight: bold;
  font-weight: 700;
  line-height: 1.22;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-top: 14px;
}
.default {
  color: #9b9faa;
}
.active {
  color: black;
}
