.loginPage {
  width: 100%;
  height: 648px;

  @media screen and (min-width: 768px) {
    height: 944px;

    background-image: url('../../images/background/tablet/strawberry.png'),
      url('../../images/background/tablet/banana.png'),
      url('../../images/background/tablet/leaves.png'),
      url('../../images/background/tablet/Vector3.png');

    background-size: 308px 303px, 491px 431px, 602px 531px, 521px 563px;
    background-position: right 24px bottom 168px, right 0 bottom 0,
      left 0 bottom 0, right 0 bottom 0px;

    background-repeat: no-repeat;
  }

  @media screen and (min-width: 1280px) {
    margin-top: -152px;
    height: auto;
    min-height: 100vh;
    background-image: url('../../images/background/desktop/leaves.png'),
      url('../../images/background/desktop/banana.png'),
      url('../../images/background/desktop/strawberry.png'),
      url('../../images/background/desktop/Vector3.png');

    background-size: 746px 820px, 715px 510px, 386px 379px, 715px 849px;
    background-position: right 195px top 0px, right -247px top -50px,
      right -8px top 470px, right -113px bottom 0;
    background-repeat: no-repeat;
  }
}
