.btn {
  border: none;
  background-color: white;
  margin-top: 11px;
  margin-right: 0;
  width: 24px;
  height: 24px;
  background-color: transparent;
}

.close {
  width: 24px;
  height: 24px;
  margin-top: -2px;
}

@media screen and (min-width: 767px) {
  .btn {
    margin-right: 11px;
  }
}