.SidebarSection {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: var(--sidebgrColor);
}

@media screen and (min-width: 1280px) {
  .SidebarSection {
    width: 517px;
    position: fixed;
    height: 100%;
    z-index: -1;
    top: 0;
    right: 0;
  }
}


.SidebarWrap {
  width: 100vw;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media screen and (min-width: 768px) {
  .SidebarWrap {
    padding: 80px 32px;
    flex-direction: row;
    align-items: flex-start;
    gap: 96px;
    background-image: url(./sidebarBg/sidebar-leaves-tab-1x.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(./sidebarBg/sidebar-leaves-tab-2x.png);
    }

    background-repeat: no-repeat;
    background-size: 370px 350px;
    background-position: right 0 bottom 0;
  }
}

@media screen and (min-width: 1280px) {
  .SidebarWrap {
    width: 588px;
    height: auto;
    padding: 292px 123px 0 106px;
    flex-direction: column;
    gap: 60px;
    background-image: url(./sidebarBg/sidebar-leaves-desk-1x.png);

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(./sidebarBg/sidebar-leaves-desk-2x.png);
    }

    background-repeat: no-repeat;
    background-size: 517px auto;
    background-position: right 0 top 20px;
  }
}

.SidebarTitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--titleSideColor);
}

.SidebarText {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--sidebarText);
}

.SidebarList {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 270px;
}

.SidebarItem {
  display: flex;
  justify-content: space-between;
}