.switch {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    .switch {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin-right: 50px;
        margin-left: 50px;
    }
}

.inputBox {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    background-color: red;
    color: blue;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.slider:before {
    position: absolute;
    content: '';
    height: 25px;
    width: 25px;
    left: 0px;
    bottom: 4px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    box-shadow: 0 0px 15px #2020203d;
    background: white url('./night.png');
    background-repeat: no-repeat;
    background-position: center;
}


input:focus+.slider {
    box-shadow: 0 0 1px var(--switcher);
}

input:checked+.slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url('./sunny.png');
    background-repeat: no-repeat;
    background-position: center;
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}